/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');


.nav-logo-icon {
  margin: 24px 48px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

input {
  letter-spacing: 0.04em;
  color: #808080;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

img {
  width: 360px;
  height: 200px;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  text-align: center;

}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.33333;
  color: #2e2f42;
}

.gallery-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  color: #808080;
  padding-left: 16px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  transition: ease-in-out 0.3s;
  outline: none;
}

button:hover {
  background: #6c8cff;
}

input:hover {
  border-color: #000;
}

input:focus {
  border-color: #4e75ff;
  outline: none;
}

.loader-1 {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.loader-hidden {
  display: none !important;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}